<div class="container-fluid">

  <div class="video-background">
    <div class="video-foreground">
      <iframe [src]="urlVideo" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="text-align: center;">
      <h1 class="titulo">NUESTRO</h1>
      <h1 class="titulo" style=" background-color: #00B0FF; color: white;">TRABAJO</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="container">
      <div class="row" style="">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let pagina of arrayPaginas">
          <div class="hovereffect">
            <!--<img class="img-fluid demo-img" src="{{pagina.pagina.imagenesCarousel[0].secure_url}}" (mouseenter)="cambiarVideo(pagina.pagina.urlVideo)" 
                   
                  alt="">---->
            <img class="img-fluid demo-img" src="{{pagina.pagina.imagenesCarousel[0].secure_url}}" alt="">
            <div class="overlay">
              <h2>{{pagina.pagina.titulo}}</h2>
              <p>
                <a href="#">Ver Más</a>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="row" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1000">
          <div class="col-12" style="text-align: center;">
            <a href="" class="typed-contacto"></a>
          </div>
       </div>
    </div>
  </div>
  
</div>
