<div class="container-fluid">
  <div class="row">
     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuarios de hoy</h5>
        </div>
      </div>
     </div>
     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Compras</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Compras</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <canvas id="canvas">{{grafica}}</canvas>
    </div>
  </div>
  <div class="row">
     <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">compras del dia</h5>
        </div>
      </div>
     </div>
     <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">productos mas visitados</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>