@import url('https://fonts.googleapis.com/css?family=Kanit');
body-container{
  width: 100%;
  height: 100vh;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.col-12{
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/24862128_552778015084311_4837347957540700715_n.jpg?_nc_cat=0&oh=fcdbfc221fa9ff839151ff9fea6ad9d0&oe=5B93647F");
  background-position: center;
  
}

.titulo,.texto{
 color: white;
 margin:0 auto;
 position: relative;
 top: 40%;
 transform: translateY(-50%);
 font-family: 'Kanit', sans-serif;

}

.btn{
  position: relative;
  
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.titulo{
  font-size:400%;
  top: 30%;
}

.texto{
  font-size: 250%;
  text-align: justify;
}
