<div id="myNav" class="overlay">
  <a [ngClass]="{'loading':animateClose==true}" href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
             <div *ngFor="let nav of arrayNavbar" class="wrapper">
                    <span class="square">
                      <a class="tenth before after" href="#">{{nav.titulo}}</a>
                    </span>
              </div>
  </div>
</div>


<div style="font-size:30px;cursor:pointer; float: right;" class="btn-nav"
[ngClass]="{'loading':animate==true}" id="icono" (click)="openNav()" (click)="animarNav()">
    <div class="el"><i class="fas fa-align-justify"  style="margin-right: 20px;" id="unitlessValue"></i></div>
  </div>