@import url('https://fonts.googleapis.com/css?family=Oswald');
#list-container{
  background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/17796352_431891293839651_3436651245994453599_n.jpg?_nc_cat=0&_nc_eui2=AeFu30VIL1IsM1WVfBpYIG0BCNCIQfiRv3gTkCAiL73mZ1xffx26Z7Vy9366qY46Uj2vwIPa2hR3Ml5Hx-ESIXji9hU-toF2MLvohARIBw5V9A&oh=298b32a97c1777e800c864bd31138e2c&oe=5B91F8BB");
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-group-item{

  height: 150px;
  margin-bottom: 10px;
}

.rowList{
  height: 100%;
}

.btn,.titulo{
  width: 100%;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.titulo{
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
}

.img-fluid{
  max-width: inherit;
  max-height: 120px;
  border-radius: 5px;
}


